colours {
    color: #7bceef;
    color: #42a5de;
    color: #c6def7;
    color: #9cbde7;
    color: #ffad42;
    color: #EDECF6;
}

p, h1, h2, h3, h4, h5, h6, h7 {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #EDECF6;
}

header img {
    width: 100%;
}

footer {
    background-color: #7bceef;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

.footer-text {
    color: black;
    font-size: 40px;
}

.searchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchForm {
    display: flex;
    background-color: #7bceef;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100px;
    width: 1200px;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 50px;
    margin-top: -50px;
}

.searchInputBox {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 150px;
    padding: 20px;
    z-index: 1000;
}

.searchInputBox p {
    font-size: 20px;
}

.searchSelect {
    z-index: 1;
    font-size: 15px;

}

.searchOption {
    font-size: 15px;
    z-index: 1;
}

.searchButtonBox {
    display: flex;
    width: 230px;
    z-index: 1;
}

.searchButton {
    background-color: #ffad42;
    border-block: #ffad42;
    border: #ffad42;
    border-radius: 10px;
    width: 200px;
    height: 55px;
    font-size: 18px;
    z-index: 1;
}

.generalBox {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
}

.travelBox {
    height: 450px;
    width: 650px;
    background-color: #c6def7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.travelImg {
    height: 450px;
    width: 200px;
}

.travelInfoMainBox {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.travelInfoBox {
    display: flex;
    width: 250px;
    height: 400px;
    flex-direction: column;
}

.travelInfoBox p {
    font-size: 30px;
    height: 40px;
    padding: 5px;
    padding-left: 11px;
}

.travelInfoBox h1 {
    font-size: 30px;
    padding-left: 10px;

}

.travelInfoBox h2 {
    font-weight: lighter;
    padding-left: 10px;

}

.travelInfoBox li {
    font-size: 25px;
    padding: 10px;
}

.travelInfoBox h4 {
    padding-top: 40px;
    padding-left: 10px;
    font-size: 25px;

}

.travelInfoBox h5 {
    padding-left: 10px;
    font-size: 25px;

}

.heartImg {
    align-self: flex-start;
    margin-left: 135px;
}
.travelPrizeBox {
    padding-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
}
.travelPrizeBox p {
    font-size: 15px;
    padding: 0;
    height: 20px;
    font-weight: 100;
    padding-right: 20px;
}
.travelPrizeBox h1 {
    font-size: 30px;
    padding-right: 35px;
}
.travelPrizeBox button {
    width: 110px;
    height: 35px;
    background-color: #42a5de;
    border-block: #42a5de;
    border: #42a5de;
    font-size: 20px;
    font-weight: bold;
}
.customizationMainBox {
    height: 600px;
    width: 300px;
    background-color: #c6def7;
}

.customizationPriceBox input {
    margin-left: 25px;
    width: 180px;
}
.customizationMainBox h1 {
    font-size: 25px;
    padding: 15px;
}
.customizationDestionationSelect {
    margin-left: 25px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    background-color: #42a5de;
    border-radius: 4px;
}
.destionationOption {
    font-size: 20px;
}
.customizationPriceSlider {
    opacity: 0.7;
    outline: none;
    -webkit-transition: .2s;
    width: 100%;
}
.outputText {
    padding-left: 40px;
}
.output {
    padding-left: 90px;
}

.column-trips {
    display: flex;
    flex-direction: column;
}